
.container-fluid{
    width: 100%;
}
.navbar-nav{
    padding: 1em;
}
.navbar-brand{
    margin-left: 15%;
}
ul{
    margin-right: 15%;
}
.nav-item{
    margin-right: 1em;
    cursor: pointer;
}
.btn-dark{
    border: 1px solid grey;
}
.card-group{
    margin-top: 2em;
    margin-bottom: 2em;
}
.card{
    margin: 1em;
}
#footer{
    padding: 2em;
}

/*RESPONSIVE NAVBAR --> si usar important??? How the Fuck I do it?*/
.dropdown{
    margin-right: 15%;
}
#active{
    display: none !important;
}

@media (max-width: 650px) {
   #unActive{
    display: none !important;
   }
   .jumbotron{
    display: none;
   }
    #active{
    display: flex !important;
   }
  }


